body {
    font-family: Roboto, sans-serif;
}

p {
    font-size: 30px;
}

a {
    text-decoration: none;
}

.fixed-padding {
    padding-left: 135px;
    padding-right: 135px;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 61px;
    left: 0px;
    top: 0px;
    background-color: #8C64E0;
    margin: 0 auto;
    padding-left: 135px;
    padding-right: 135px;
}

.logo {
    width: 70px;
    height: 47px;
    float: left;
    padding-top: 10px;
}

nav {
    float: left;
}

nav li {
    display: inline-block;
    margin-left: 67px;
    padding-top: 18px;

    position: relative;


    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    text-align: center;

    color: #FFFFFF;
}

nav a {
    color: floralwhite;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 18px;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #EC9498;

    position: absolute;

    top: 10px;
    width: 0;
    transition: all-ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;

}


.split-view {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left-col right-col";
}

.home{
    height: 657px;
    margin-top: 61px;
}

.review{
    height: 1077px;
}

.first-section {
    grid-template-columns: 33% 33% 33%;
    height: 718px;
    background-color: #FEE2AB;
    justify-content: space-between;
    display: flex;
    padding-top: 124px;
}

.left-col {
    display: grid;
    align-content: center;
}

.hero-image {
    background-image: url("paper.png");
    background-position: center;
    background-size:120%;
}

.right-col {
    display: grid;
    background-color: #EC9498;
    align-content: center;
}


.iphone {
    width: 100%;
    height: auto;
    justify-self: center;
}

.iphone-big {
    width: 100%;
    height: auto;
    justify-self: center;
}

.text-centered {
    justify-self: center;
}

.first-inner {
    width: 370px;
}

.first-inner article {
    padding: 20px;
}

h2 {
    font-size: 50px;
    margin-bottom: 30px;

}

.call-to-action{
    height: 359px;
    background-color: #FEE2AB;
    text-align: center;
    padding: 50px;
}


.button {
    background-color: #F2346D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    width: 90%;
    height: 400%;
    border-radius: 7px;
    left: 873px;
    top: 516px;
}

.button-container{
    text-align: center;
}

.social-media {
    height: 180px;
    background-color: #CCBBF1;
    text-align: center;
    padding: 50px;
}

.social-media a {
    margin: 20px;
}